
@{
    ViewData["Title"] = "List";
}
<div class="container d-flex justify-content-center">
    <div class="list-board">
        <div class="row">
            <div class="col-12 text-center">
                <h1>@Localizer["List"]</h1>
            </div>
        </div>
        <!--List start-->
        <!--List Head start-->
        <div class="row text-center bg-head-color">
            <div class="col-2">@Localizer["Id"]</div>
            <div class="col-4">@Localizer["Domain"]</div>
            <div class="col-3"> @Localizer["Online"]</div>
            <div class="col-3">@Localizer["Last seen"]</div>
        </div>
        <!--List Head end-->
    </div>
</div>

