@using Alduin.Logic.Identity
@inject AppSignInManager SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] - Alduin
    </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/lib/styles/scss/app/app.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6096ca5492.js"></script>
</head>
<body>
    <header>
        <div class="header-menu">
            <div class="row align-items-center">
                <div class="col-2 text-center">
                    <button class="mini-menu-btn">
                        <span class="h3">
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                </div>
                <div class="col-2 text-center">
                    M/byte
                </div>
                <div class="col-4 align-middle text-center">
                    <span class="h3">Alduin</span>
                </div>
                <div class="col-4 text-lg-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <span class="p-2">
                            @Localizer["Hi"], @User.Identity.Name
                        </span>
                    }
                </div>
            </div>
        </div>
        <div class="menu-container">
            <div class="container">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="row mt-3">
                        <div class="w-100 menu-row-content nobreak">
                            <i class="fas fa-home"></i>
                            <span class="p-0 font-weight-bold mini-menu">
                                <u>@Localizer["Main menu"]</u>:
                            </span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <a href="#" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-list h6"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["List"]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <a href="/Commands/" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-terminal h6"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["Commands"]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <a href="#" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-stream h6"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["Streams"]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <div class="w-100 menu-row-content nobreak">
                            <i class="fas fa-users-cog h6"></i>
                            <span class="p-0 font-weight-bold mini-menu">
                                <u>@Localizer["User settings"]</u>:
                            </span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <a href="/UserSettings/ChangePassword" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-unlock-alt"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["Change password"]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="row mt-3">
                        <a href="/Invitation/" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-envelope-open-text h6"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["Invitation"]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="row mt-3 mb-3">
                        <a href="/UserAccount/Logout" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-sign-out-alt h6"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["Quit"]
                                </span>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <div class="row mt-3">
                        <a href="/UserAccount/" class="menu-row w-100">
                            <div class="menu-row-content nobreak">
                                <i class="fas fa-sign-in-alt h6"></i>
                                <span class="p-1 mini-menu">
                                    @Localizer["Login"]
                                </span>
                            </div>
                            
                        </a>
                    </div>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3">&copy; 2019 - Alduin - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a></div>
                <div class="col-3"><partial name="_SelectLanguagePartial" /></div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script>
        function setUrlactive() {
            var url = window.location.pathname;
            for (var i = 0; i < $(".menu-row").length; i++) {
                var getclass = $(".menu-row:eq(" + i + ")");
                var href = getclass.attr("href");
                if (href == url) {
                    getclass.css("color", "#15A0BF");
                }
            }
        }
        $(document).ready(function () {
            setUrlactive();
        });
        $(".mini-menu-btn").click(function () {
            if ($(".menu-container").width() < 100) {
                $(".menu-container").css("max-width", "220px");
                $(".mini-menu").css("visibility", "visible");
            } else {
                $(".menu-container").css("max-width", "45px");
                $(".mini-menu").css("visibility", "hidden");
            }

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
